@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  --clr-bg: hsl(217, 54%, 11%);
  --clr-card-bg: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  background-color: var(--clr-bg);
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  background-color: var(--clr-card-bg);
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--clr-soft-blue);
  -webkit-box-shadow: 0 10px 10px black;
          box-shadow: 0 10px 10px black;
}

.card .img-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.card .img-container .card-img {
  width: 100%;
  border-radius: .5rem;
  cursor: pointer;
}

.card .img-container .icon-eye {
  position: absolute;
  padding: 40%;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  opacity: 0;
  z-index: 1;
}

.card .img-container:hover .icon-eye {
  opacity: 1;
}

.card .img-container:hover::after {
  opacity: .5;
}

.card .img-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 320px;
  width: 100%;
  background-color: var(--clr-cyan);
  opacity: 0;
}

.card p {
  margin-bottom: .5rem;
}

.card .title {
  color: var(--clr-white);
  font-size: 1.5rem;
  font-weight: 600;
}

.card .title a {
  color: var(--clr-white);
  cursor: pointer;
}

.card .title a:hover {
  color: var(--clr-cyan);
}

.card .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .status .eth {
  color: var(--clr-cyan);
}

.card .status .eth::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 11px;
  background-image: url(../images/icon-ethereum.svg);
  -webkit-transform: translate(0, 2px);
          transform: translate(0, 2px);
  margin-right: 5px;
}

.card .status .time::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  background-image: url(../images/icon-clock.svg);
  -webkit-transform: translate(0, 3px);
          transform: translate(0, 3px);
  margin-right: 5px;
}

.card .creator {
  padding-top: 1rem;
}

.card .creator::before {
  content: '';
  background-color: var(--clr-soft-blue);
  display: block;
  height: 1px;
  width: 100%;
  margin-bottom: .5rem;
}

.card .creator img {
  height: 30px;
  width: 30px;
  border: var(--clr-white) 1px solid;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transform: translate(0px, 25%);
          transform: translate(0px, 25%);
}

.card .creator a {
  color: var(--clr-white);
  cursor: pointer;
}

.card .creator a:hover {
  color: var(--clr-cyan);
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
  color: #929aa5;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */